// file-cards css
.fileSectionCard {
  .fileSectionCardLower {
    position: relative;
    .fileSectionRightFileContent {
      height: 100%;
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      .fileSectionContent {
        height: 100%;
        z-index: 10;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        @include desktops {
          width: 25%;
        }
        @include tablets-landscape {
          width: 30%;
        }
        @include tablets-portrait {
          flex-direction: row;
        }
        @include mobiles {
          flex-direction: row;
        }
        .fileSectionGrainIcon {
          color: #cdcdcd;
          margin: 20px;
          font-size: 40px;
          @include mobileAndTablet {
            font-size: 32px;
          }
        }
        .fileSectionContentText {
          padding: 0px 0px 20px 25px;
          color: #cdcdcd;
          font-weight: 300;
          font-size: 30px;
          @include tablets {
            font-size: 22px;
          }
          @include between-tablets-and-desktop {
            font-size: 27px;
          }
          @include mobiles {
            font-size: 21px;
          }
          @include tablets-portrait {
            padding: 20px 0px;
            width: max-content;
            position: absolute;
            left: 12%;
          }
          @include mobiles {
            padding: 20px 15px;
            position: absolute;
            left: 15%;
            font-size: 20px;
          }
          @include mobiles-sm {
            padding: 16px 15px;
            position: absolute;
            left: 17%;
            font-size: 19px;
          }
        }
      }
      .fileSectionRightFileImage {
        position: absolute;
        width: 100%;
        img {
          position: relative;
          left: calc(50% - 1.5rem);
          transform: translate(-50%);
          margin-bottom: -4px;
          @include mobiles-sm {
            width: 235px;
            height: 235px;
          }
          @include mobiles {
            width: 275px;
            height: 275px;
          }
          @include tablets {
            width: 300px;
            height: 300px;
          }
          @include between-tablets-and-desktop {
            width: 375px;
            height: 375px;
          }
        }
      }

      .fileSectionArrowIconWrapper {
        display: flex;
        color: #cdcdcd;
        gap: 20px;
        padding: 8px;
        border: 0.5px solid #cdcdcd;
        border-radius: 1000px;
        margin: 20px;
        text-decoration: none;
        z-index: 10;
        @include tablets {
          gap: 16px;
        }
        .fileSectionBrowse {
          display: flex;
          align-items: center;
          margin-left: 16px;
          font-size: 20px;
          font-weight: 300;
          @include mobiles {
            display: none;
          }
          @include mobiles-sm {
            display: none;
          }
          @include tablets {
            margin-left: 10px;
            font-size: 16px;
          }
        }
        .fileSectionArrowIcon {
          background-color: #d7d7d792;
          color: #20363d;
          padding: 10px;
          border-radius: 1000px;
          @include tablets {
            padding: 5px;
          }
        }
      }
    }
  }
}
