// dashboard colorset
$background_primary: #111;
$background_primary_lighter: #222;
$background_secondary: #d9d9d9;

$next_blue: #0071f3f5;

$text_primary: #d9d9d9;
$text_primary_dull: #c7b4b4;
$text_secondary: #111;
$text_third: #ebe1e1;

$green_color_1: #19c7a2;
$green_color_2: #51d9bc; // used for gradient box

$yellow_color_1: #fdc449;
$yellow_color_2: #ddbc6f; // used for gradient box
