$background_primary: #111;
$background_primary_lighter: #222;
$background_secondary: #d9d9d9;
$background_primary_blur: #252525;

$next_blue: #0071f3f5;

$text_primary: #d9d9d9;
$text_primary_dull: #c0c3c6;
$text_secondary: #111;
$text_third: #ebe1e1;
$text_fourth_dark: #403110;
$text_disabled: #5c5c5c;

$dull_gray: #b7b7b7;

$spotify_green: #1db954;

$error_red: #cf383890;

$green_color_1: #19c7a2;
$green_color_2: #51d9bc; // used for gradient box

$yellow_color_1: #ffcd62;
$yellow_color_2: #ddbc6f; // used for gradient box

// about page color-set - new
$main_white: #c4c4c4;
$main_white_hover: #999999;
