.sideNavWrapper {
  max-height: -webkit-fill-available;
  .sideNavLinksContainer {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    margin: 0rem 3rem;
    padding-bottom: 5rem;
    @include tablets-up {
      padding-bottom: 2rem;
    }
    box-sizing: border-box;
    .sideNavLinkItem {
      text-align: left;
      .sideNavLink {
        &:any-link {
          color: darken($main_white, 3%);
          text-decoration: none;
          text-transform: uppercase;
        }
        font-size: 50px;
        line-height: 50px;
        font-weight: 400;
        letter-spacing: 1px;
        @include tablets-up {
          line-height: 65px;
          font-size: 65px;
        }
        @include desktops-md {
          line-height: 90px;
          font-size: 90px;
        }
        @include desktops-lg {
          line-height: 100px;
          font-size: 100px;
        }
        @include desktops-xl {
          line-height: 110px;
          font-size: 110px;
        }
        .sideNavItemBody {
          color: darken($text_primary_dull, 15%);
          font-size: 16px;
          line-height: 18px;
          font-weight: 300;
          text-transform: uppercase;
          letter-spacing: 0px;
          @include tablets {
            font-size: 18px;
          }
          @include desktops {
            font-size: 19px;
            line-height: 19px;
          }
        }
      }
      .sideNavLinkOverlay {
        height: 5px;
        width: 0%;
        background-color: $spotify_green;
        margin: 5px 0px;
        transition: 500ms all ease;
      }
      &:hover .sideNavLinkOverlay {
        width: 100%;
      }
      &:hover .sideNavLink {
        color: $main_white_hover;
      }
    }
  }
}
