@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;1,300;1,400;1,600&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import "./app";

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  background-color: $background_primary;
  color: $text_third;
  font-weight: 300;
}

.indexWrapper {
  background-color: $background_primary;
  height: 100vh;
  max-height: -webkit-fill-available;
  display: flex;
  place-content: center center;
  align-items: center;
  .indexMain {
    display: flex;
    flex-direction: column;
    align-items: center;
    .indexHeader {
      font-size: 128px;
      line-height: 128px;

      @include mobiles-sm {
        font-size: 96px;
        line-height: 96px;
      }
      @include mobiles {
        font-size: 96px;
        line-height: 96px;
      }
      @include tablets {
        font-size: 112px;
        line-height: 112px;
      }
      color: $next_blue;
      font-weight: 700;
      padding: 0px 10px;
      border-bottom: 1px solid linear-gradient(90deg, #16a085, #f4d03f);
      text-align: center;
      background: linear-gradient(90deg, #16a085, #f4d03f);
      -webkit-text-fill-color: transparent;
      -webkit-background-clip: text;
      letter-spacing: 1px;
    }
    .indexLink {
      color: $text_third;
      font-size: 20px;
      font-weight: 300;
      text-align: center;
      letter-spacing: 0.7px;
      opacity: 0.8;
      text-decoration: none;
      border-bottom: 1px solid white;
      width: max-content;
      transition: 200ms all ease;
      &:hover {
        opacity: 0.6;
      }
      @include mobiles-sm {
        font-size: 16px;
      }
      @include mobiles {
        font-size: 18px;
      }
      @include tablets {
        font-size: 19px;
      }
    }
  }
}
